html,
body {
    width: 300px;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.beast:hover {
    background-color: #CFF2F2;
}

.beast {
    background-color: #E5F2F2;
}

.clear {
    background-color: #FBFBC9;
}

.clear:hover {
    background-color: #EAEAC9;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    border: 1px solid black;
}

.title {
    display: block;
    width: 100px;
    height: 100%;
    margin: 0 auto;
}

.url {
    display: none;
}

.favicon {
    padding-right: 2px;
    width: 42px;
    height: 42px;
}