html,
body {
    width: 300px;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.beast:hover {
    background-color: #CFF2F2;
}

.beast {
    background-color: #E5F2F2;
}

.clear {
    background-color: #FBFBC9;
}

.clear:hover {
    background-color: #EAEAC9;
}

.list-item {
    cursor: pointer;
    line-height: 36px;
}

.list-item:hover {
    border: 1px solid black;
}

.title {
    
    display: block;
    height: 100%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position: relative;
}

.url {
    display: none;
}

.favicon {
    float: left;
    padding-right: 4px;
    width: 36px;
    height: 36px;
}