html,
body {
    width: 400px;
    max-width: 400px;
    max-height: 500px;
    /* overflow: hidden; */
}

.list {
    /* overflow-y: scroll !important; */
}

.button {
    margin: 3% auto;
    display: inline-block;
    padding: 4px 20px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.beast:hover {
    background-color: #CFF2F2;
}

.beast {
    background-color: #E5F2F2;
}

.clear {
    background-color: #FBFBC9;
}

.clear:hover {
    background-color: #EAEAC9;
}

.list-item {
    max-width: 320px;
    cursor: pointer;
    line-height: 36px;
    width: 100%;
}

.list-item:hover {
    text-decoration: underline cornflowerblue solid;
}

.title {
    display: block;
    height: 100%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position: relative;
}

.url {
    display: none;
}

.favicon {
    float: left;
    padding-right: 4px;
    width: 36px;
    height: 36px;
}

.btn-close-tab:hover {
    background-color: crimson;
}

.btn-move-tab:hover {
    background-color: darkseagreen;
}

.tab-info {
    float: left;
}

.tab-actions {
    float: right;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
}

.parent {
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}